html{
  font-size: 18px;
  background-color: white;
}

body{
  background-color: white;
  font-family: Helvetica;
  line-height: 1.4;
}





.container{
  max-width: 320px;
  margin: auto;
  height: auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

}




.main{
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
background-position: center;
background-size: 20%;
background-repeat: no-repeat;
display: block;
height: 17rem;
margin:  auto;

}


.main .container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 128px;

}




.container .navigation{
width: 100%;
background-color: cadetblue;
background-position: top;
display: flex;
 height: auto;
justify-content: space-between;
 align-items: center;
  font-family: Helvetica;
  padding: 1rem auto;
margin-top: 1rem;
  z-index: 1;


}
 .navigation .logo{
  display: flex;
  width: auto;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  font-family: Helvetica;
  color: white;

}


  .navigation .logo img{
   display: block;
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;

}

 .navigation .logo span{
  display: flex;
  width: 10rem;
  text-align: left;
  justify-content: flex-start;
  align-items: center;


}

 .navigation .logo .name{
  color: white;
font-size: 1rem;
}


  .navigation .general{
    display: none;
    width: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
justify-content: flex-end;
  align-items: center;
  text-align: right;

}

 .navigation .general ul{
  display: inline-flex;
}

  .navigation .general li{
  display: inline-flex;
  font-size: 1rem;
  color: white;
  padding-right: 2rem;

  }

  .navigation .special{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    padding-right: 2rem;



  }

  .navigation .special ul{

  }

  .navigation .special li{
    color: white;
    font-size: 2rem;

  }






.container .banner{
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: auto;
  height: auto;
  background-color: white;
  text-align: center;
  margin-top: 9rem;
  margin-right: 0;
  margin-left: 0;
  font-size: 1rem;




  }

  .banner h1{
    text-align: center;
    color: dimgray;
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 1rem ;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;

}






.service .container{
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 3.77rem;
  margin-bottom: 3.77rem;





}



.container .one{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  height: 8rem;
  width: 25%;
  padding-right: 6rem;
  align-self: flex-start;




}

.container .two{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  height: 8rem;
  width: 25%;
  padding-right: 6rem;
  align-self: flex-start;





}

.container .three{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  height: 8rem;
  width: 25%;
  align-self: flex-start;



}

.one .pic, .two .pic, .three .pic{
  display: flex;
  justify-content: flex-start;
  align-items: center;



}

.one img, .two img, .three img{
  max-width: 7rem;
  max-height: 5rem;
  display: block;

}


.one .title, .two .title, .three .title{
  display: inline-flex;
  max-width: 8rem;
  padding-top: 1rem;
  text-align: center;


}


 .two h6{
  padding-top: 1rem;
}




.about .container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  height: auto;


  }



.about .phylosophy, .about .appointment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-top: 1rem;
  margin-right: 5%;
  padding-bottom: 4rem;
  color: black;
  align-self: center;

}




.about .phylosophy h3{
  background-color: cadetblue;
  display: inline;
  width: 100%;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-align: center;

}

.about .phylosophy p{
  width: 90%;
  margin-top: 1rem;
  padding-right: 0.5rem;
  text-align: left;
}


.about .appointment {
  width: 100%;
  display: block;
  margin-top: 1rem;
  color: black;
  align-self: baseline;
  float: right;
}

.about .appointment h3{
  background-color: cadetblue;
  width: 100%;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-align: center;
}


.appointment p{
  width: 90%;
  margin-top: 1rem;
  padding-right: 0.5rem;
}













footer .container{
    background-color: azure;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

footer .container img{
    padding: 4rem 1rem 4rem 4rem;
    height: 1.5rem;
    }

  footer .container span{
    display: none;
    width: auto;

    }

.Copyright{
      display: none;
      color: dimgray;

}
