html{
  font-size: 18px;
  background-color: white;
}

body{
  background-color: white;
  font-family: Helvetica;
  line-height: 1.4;
}





.container{
  max-width: 960px;
  margin: auto;
  height: auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

}




.main{
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display: block;
height: 30rem;
margin:  auto;

}
@media only screen and (max-width: 960px){
  .main{
    width: 100%;
    height: 22rem;
  }
}

@media only screen and (max-width: 600px){
  .main{
    width: 100%;
    height: 17rem;
    background-position: 20%;
  }
}


.main .container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}




.container .navigation{
width: 100%;
background-color: cadetblue;
background-position: top;
display: flex;
 height: auto;
justify-content: space-between;
 align-items: center;
  font-family: Helvetica;
  padding: 1rem auto;
margin-top: 1rem;
  z-index: 1;


}

@media only screen and (max-width: 960px){
  .container .navigation{
    margin-top: 0rem;
  }
}




 .navigation .logo{
  display: flex;
  width: auto;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  font-family: Helvetica;
  color: white;

}


  .navigation .logo img{
   display: block;
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;

}

 .navigation .logo span{
  display: flex;
  width: 10rem;
  text-align: left;
  justify-content: flex-start;
  align-items: center;


}

 .navigation .logo .name{
  color: white;
font-size: 1rem;
}


  .navigation .general{
    display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
justify-content: flex-end;
  align-items: center;
  text-align: right;

}



 .navigation .general ul{
  display: inline-flex;
}

  .navigation .general li{
  display: inline-flex;
  font-size: 1rem;
  color: white;
  padding-right: 2rem;

  }

.navigation .special{
  display: none;

}

@media only screen and (max-width: 600px){
  .navigation .general{
    display: none;
  }

  .navigation .special{
    display: flex;
  }

  .navigation .logo span{
    display: none;
  }

  .navigation .logo .name{
    display: none;
  }

  .navigation .spacial ul{
      list-style: none;

}

  .navigation .special li{
      color: white;
      font-size: 1rem;
      padding-right: 1.5rem;
      font-weight: normal;
    }


  }




.navigation .special ul{

}

.navigation .special li{
  color: white;
  font-size: 2rem;

}


.container .banner{
  display: flex;
  justify-content: center;
  float: right;
  width: auto;
  background-color: white;
  text-align: center;
  margin-top: 10rem;
  margin-right: -2rem;
  font-size: 2rem;

}

@media only screen and (max-width: 960px){
   .container .banner{
     margin-top: 5rem;
     margin-right: 2rem;

   }
}

@media only screen and (max-width: 600px){
  .container .banner{
    width: 100%;
    margin-top: 9rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;


  }
}


  .banner h1{
    text-align: center;
    color: dimgray;
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 1.5rem ;
    padding-bottom: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;

}

@media only screen and (max-width: 960px){
    .banner h1{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 600px){
  .banner h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
  }
}






.service .container{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  margin-top: 3rem;
  margin-bottom: 3rem;


}




.container .one{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  height: 8rem;
  width: 25%;
  padding-right: 6rem;
  align-self: flex-start;


}

.container .two{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  height: 8rem;
  width: 25%;
  padding-right: 6rem;
  align-self: flex-start;





}

.container .three{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  height: 8rem;
  width: 25%;
  align-self: flex-start;



}

.one .pic, .two .pic, .three .pic{
  display: flex;
  justify-content: flex-start;
  align-items: center;



}

.one img, .two img, .three img{
  max-width: 7rem;
  max-height: 5rem;
  display: block;

}


.one .title, .two .title, .three .title{
  display: inline-flex;
  max-width: 8rem;
  padding-top: 1rem;
  text-align: center;


}


 .two h6{
  padding-top: 1rem;
}


@media only screen and (max-width: 600px){
  .service .container{
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    flex-flow: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container  .one, .container .two, .container .three{
  width: 100%;
}


  .one .title, .two .title{
    margin-bottom: 1.54rem;

  }

  .one h6, .two h6, .three h6{
    font-size: 0.77rem;
  }

}




.about .container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: nowrap;
  height: auto;
  margin-top: 1.5rem;

  }






.container .philosophy{
  width: 35%;
  display: block;
  text-align: left;
  margin-top: 1rem;
  color: black;
  margin-right: 5%;
  align-self: center;

}




.container .philosophy h3{
  background-color: cadetblue;
  width: 10rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-align: center;

}

.container .philosophy p{
  width: 65%;
  margin-top: 1rem;
  padding-right: 0.5rem;
}


.container .appointment {
  width: 35%;
  display: block;
  margin-top: 1rem;
  color: black;
  align-self: baseline;
  float: right;
}

.container .appointment h3{
  background-color: cadetblue;
  width: 10rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-align: center;
}


.container .appointment p{
  width: 65%;
  margin-top: 1rem;
  padding-right: 0.5rem;
}


@media only screen and (max-width: 600px){

  .about .container{
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;

  }

  .container .philosophy, .container .appointment{
    width: 100%;
    display: block;
    text-align: center;



}




.container .philosophy h3, .container .appointment h3{
  width: 100%;
  text-align: center;
  background-color: cadetblue;


}


.container .philosophy p, .container .appointment p{
  font-size: 0.77rem;
  font-family: Helvetica;
  padding-bottom: 4rem;
  padding-top: 1rem;
  width: 95%;
  padding-left: 0.5rem;
  text-align: center;

}


}



footer .container{
    background-color: azure;
    width: 100%;
    margin-top: 4rem;
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

footer .container img{
    padding: 4rem 1rem 4rem 4rem;
    height: 1.5rem;
    }

footer .container span{
    display: block;
    width: auto;

    }

.Copyright{
      display: inline-flex;
      color: dimgray;

}


@media only screen and (max-width: 600px){

  footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  footer .container span{
    display: none;
}



}
